/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
* {
  box-sizing: border-box;
}
html {
  background: #EEE;
  color: #333;
  font-family: Trebuchet, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
}

header {
  padding: 12px;
}

#store {
  padding: 12px;
  color: inherit;
  background: inherit;
}

#products {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#products > li {
  padding: 12px;
  border: 1px solid #CCC;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#products > li > * {
  flex: 0 0 auto;
}

#products > li > p {
  flex: 1 0 auto;
  padding: 12px 0 24px 0;
}

#products > li > button {
  align-self: flex-end;
}

#cart {
  background: #333;
  color: #EEE;
  padding: 12px;
}

#cart h3,
#cart ol {
  margin-bottom: 12px;
}
